*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #2a628f;
    color: #fff8f0;
    box-shadow: 2px 2px 5px black;
}

header h3{
    margin-left: 2%;
}

header span{
    margin-right: 2%;
}

header span:hover{
    cursor: pointer;
}

.menu{
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 60%;
}

.opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
    color: #2a628f;
}

i{
    margin-bottom: 5%;
}

.opt:hover{
    cursor: pointer;
    background-color: #2a628f;
    color: #fff8f0;
}

.tableBack{
    width: 100vw;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    margin-top: 2%;
    border-spacing: 7vh;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

td{
    text-align: center;
}

td input{
    width: 100%;
}

.tdNome{
    text-align: left;
}

#tBolsista{
    /* overflow: auto; */
}

.action{
    width: 60%;
    height: 5vh;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 3px black;
    padding: 1%;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.buttons button{
    width: 42%;
    box-shadow: 1px 1px 3px black;
}

.buttons button:hover{
    cursor: pointer;
}

.action input, button{
    border: none;
    height: 5vh;
}

.searchName{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px black;
    width: 40%;
}

.searchName input{
    width: 80%;
    outline: none;
}

.searchName span{
    width: 20%;
    text-align: center;
    color: #2a628f;
}

.searchName span:hover{
    cursor: pointer;
    transform: scale(1.1);
}