<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Setor</title>
    <link rel="stylesheet" href="../dashBoardGerenteSetor/css/style.css">
    <link rel="stylesheet" href="../all.css">
    <script src="../dashBoardGerenteSetor/js/functions.js"></script>
</head>
<body>
    <header>
        <h3>SigBolsista</h3>
        <span onclick="logout()"><i class="fas fa-sign-out-alt"></i></span>
    </header>
    <div class="menu" id="backMenu">
        <div class="row">
            <div class="opt" onclick="carregarBolsista()">
                <i class="fas fa-users fa-2x"></i>
                <p>Gerenciar</p>
                <p>Bolsistas</p>
            </div>
            <div class="opt">
                <i class="fas fa-clipboard-list fa-2x"></i>
                <p>Gerenciar</p>
                <p>Justificativas</p>
            </div>
            <div class="opt">
                <i class="fas fa-pen-alt fa-2x"></i>
                <p>Registro</p>
                <p>Ponto</p>
            </div>
            <div class="opt">4</div>
        </div>
        <div class="row">
            <div class="opt">5</div>
            <div class="opt">6</div>
            <div class="opt">7</div>
            <div class="opt">8</div>
        </div>
    </div>
    <div class="tableBack" id="tBack">
        <div class="action">
            <div class="searchName">
                <input type="text" name="" id="" placeholder="digite um nome">
                <span><i class="fas fa-search"></i></span>
            </div>
            <div class="buttons">
                <button type="button">Salvar Alterações</button>
                <button type="button">Deletar Marcados</button>
            </div>
        </div>
        <table class="tableBolsista" id="tBolsista">

        </table>
    </div>
</body>
</html>