<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Setor</title>
    <link rel="stylesheet" href="../dashBoardGerenteSetor/css/style.css">
    <link rel="stylesheet" href="../all.css">
    <script src="../dashBoardGerenteSetor/js/functions.js"></script>
</head>
<body>
    <header>
        <h3 onclick="loadMenu()">SigBolsista</h3>
        <span onclick="logout()"><i class="fas fa-sign-out-alt"></i></span>
    </header>
    <div class="menu" id="backMenu">
        <div class="row">
            <div class="opt" onclick="carregarBolsista()">
                <i class="fas fa-users fa-2x"></i>
                <p>Gerenciar</p>
                <p>Bolsistas</p>
            </div>
            <div class="opt">
                <i class="fas fa-clipboard-list fa-2x"></i>
                <p>Gerenciar</p>
                <p>Justificativas</p>
            </div>
            <div class="opt">
                <i class="fas fa-pen-alt fa-2x"></i>
                <p>Registro</p>
                <p>Ponto</p>
            </div>
            <div class="opt">4</div>
        </div>
        <div class="row">
            <div class="opt">5</div>
            <div class="opt">6</div>
            <div class="opt">7</div>
            <div class="opt">8</div>
        </div>
    </div>
    <div class="tableBack" id="tBack">
        <div class="action">
            <div class="searchName">
                <input type="text" name="" id="" placeholder="digite um nome">
                <span><i class="fas fa-search"></i></span>
            </div>
            <div class="buttons">
                <button type="button" onclick="showAddBolsistaForm()">Adicionar Bolsista</button>
                <button type="button">Deletar Marcados</button>
            </div>
        </div>
        <table class="tableBolsista" id="tBolsista">

        </table>
    </div>
    <div class="backForms" id="bForms">
        <div class="formAddBolsista" id="addForm">
            <h3>Adicionar Bolsista</h3>
            <input type="text" id="cpfBol" placeholder="cpf">
            <input type="text" id="nomebol" placeholder="nome">
            <input type="text" id="dataIncBol" placeholder="data de inicio">
            <input type="text" id="setorBol" placeholder="setor do bolsista">
            <input type="password" id="passBol" placeholder="senha">
            <button type="button">Adicionar</button>
            <button type="button" onclick="hideAddBolsistaForm()">Cancelar</button>
        </div>
        <div class="formAddBolsista" id="updateForm">
            <h3>Atualizar Dados do Bolsista</h3>
            <input type="text" id="updateCpfBol" placeholder="cpf">
            <input type="text" id="updateNomebol" placeholder="nome">
            <input type="text" id="updateDataIncBol" placeholder="data de inicio">
            <input type="text" id="updateSetorBol" placeholder="setor do bolsista">
            <input type="password" id="updatePassBol" placeholder="nova senha">
            <button type="button">Salvar Alterações</button>
            <button type="button" onclick="hideAddBolsistaForm()">Cancelar</button>
        </div>
    </div>
</body>
</html>